.mapContainer {
    width: 80%;
    max-width: 1200px;
    margin: 2rem auto;
    height: 400px;
}

.mapWrapper {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 16px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}